<div *ngIf="!close">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Close your account ?</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center">
    <mat-label fxLayoutAlign="center">Are you sure ?</mat-label>
    <mat-label fxLayoutAlign="center">If you close your account,</mat-label>
    <mat-label fxLayoutAlign="center"><strong>you can't </strong>come back to Solidr with this account !</mat-label>
    <mat-label fxLayoutAlign="center">Thank you</mat-label>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" color="warn" mat-raised-button (click)="confirmClose()">Close account</button>
      <button type="submit" color="primary" mat-raised-button (click)="onClose()">Cancel</button>
    </mat-card-actions>
  </mat-card-content>
</div>
<div *ngIf="close">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Your account is now close !</mat-card-title>
  </mat-card-header>
</div>
