<!--price tab-->
<div fxFlex="1 0 auto">
  <div class="plan-inner">
    <div class="entry-title">
      <h3>Basic refund</h3>
      <div class="price">$10<span>/10 sldr</span>
      </div>
    </div>
    <div class="entry-content">
      <ul>
        <li><strong>10</strong> SLDR</li>
        <li><strong>Unlimited access</strong> to the trading room</li>
        <li><strong>Unlimited creation</strong> of new strategies</li>
        <li><strong>Unlimited fallowing</strong> of angels</li>
        <li><strong>Price :</strong> {{ product.price }} $</li>
      </ul>
    </div>
    <div class="btn">
      <div #paypal></div>
    </div>
  </div>
</div>
<!-- end of price tab-->


