<div class="login" fxLayoutAlign="center">
  <mat-card>
    <div *ngIf="tokenStatus == TokenStatus.Validating">
      Validating token...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
      Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="resetPassword" novalidate (ngSubmit)="onSubmit()">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">

        <!-- Password -->
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <mat-pass-toggle-visibility matSuffix (click)="hideP = !hideP"></mat-pass-toggle-visibility>
          <mat-hint align="end" aria-live="polite">
            {{password.value.length}} / {{passwordComponent.max}}
          </mat-hint>
          <input matInput formControlName="password" #password type="password" [type]="hideP ? 'password' : 'text'" [(ngModel)]="form.password" tabindex="1">
          <mat-error *ngIf="resetPassword.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="resetPassword.controls['password'].hasError('minlength')">
            Password is <strong>too short</strong>
          </mat-error>
        </mat-form-field>
        <!-- / Password -->

        <mat-password-strength #passwordComponent [password]="password.value"></mat-password-strength>
        <br>

        <!-- Info strength password-->
        <mat-slide-toggle (click)="toggle()" type="button">Show Details</mat-slide-toggle>
        <br>
        <mat-password-strength-info *ngIf="show" [passwordComponent]="passwordComponent"></mat-password-strength-info>

        <!-- Confirm Password -->
        <mat-form-field appearance="fill">
          <mat-label>Confirmation password</mat-label>
          <mat-pass-toggle-visibility matSuffix (click)="hideMP = !hideMP"></mat-pass-toggle-visibility>
          <input name="confirmPassword" matInput maxlength="30" formControlName="confirmPassword"
                 [type]="hideMP ? 'password' : 'text'"
                 [(ngModel)]="form.confirmPassword" [errorStateMatcher]="matcher" tabindex="2">
          <mat-error *ngIf="resetPassword.hasError('notSame')">
            Passwords don't match
          </mat-error>
        </mat-form-field>
        <!-- / Confirm Password -->
      </mat-card-content>

      <!-- Login Button -->
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="resetPassword.invalid" tabindex="4">Change your password</button>
      </mat-card-actions>
      <!-- / Login Button -->
    </form>
  </mat-card>
</div>
