<form [formGroup]="forgotForm" *ngIf="!isSuccessful" novalidate (ngSubmit)="onSubmit()">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Please Enter your Email link to your account</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" maxlength="60" placeholder="abc@example.com"
             [(ngModel)]="form.email" tabindex="1">
      <mat-error *ngIf="forgotForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="forgotForm.controls['email'].hasError('email')">
        Not a <strong>valid</strong> email
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="valid">
      {{ errorMessage }}
    </mat-error>
  </mat-card-content>

  <mat-card-actions fxLayoutAlign="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="forgotForm.invalid" tabindex="2">Send email
    </button>
  </mat-card-actions>
</form>
<div  *ngIf="isSuccessful">
  <mat-card-title>
    <mat-label fxLayoutAlign="center">An Email has been sent to your address email !</mat-label>
  </mat-card-title>
</div>
