.strategy-details-card {
  max-width: 475px;
  max-height: 600px;
  text-transform: lowercase;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.alignHeaderRightText {
  text-align: end;
}

.alignDescriptionText {
  text-align: justify;
  margin-bottom: 10px;
  overflow-wrap: normal;
}

p {
  margin-bottom: 10px;
}

.symbol {
  text-transform: uppercase;
  font-size: medium;
  margin-top: 5px;
}

mat-card-actions {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
