mat-card {
  max-width: 400px;
}

mat-card-header {
  text-align: center;
}

mat-card-content {
  margin-top: 15px !important;
}

textarea {
  max-height: 300px;
  min-height: 150px;
}

.close.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 10px;
  min-width: auto;
  background-color: transparent;
}

img {
  max-width: 20px;
}

// scroll input number disabled
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
