mat-form-field {
  margin-right: 10px;
}
.containerChart {
  flex-direction: row-reverse;
  padding-right: 200px;
}

.mat-raised-button {
  margin-right: 10px;
  background: #555555;
  font-size: 16px;
}
